*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 20px;
}

h2{
    text-align: center;
    margin-top: 10px;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    border: solid black 2px;
    border-radius: 15px;
    margin: 20px;
    width: 350px;
    background-color: antiquewhite;
    

}

section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

input{
    width: 150px;
    text-align: center;
}

#confirmar{
margin-top: 20px;
width: 80px;
height: 30px;
border-radius: 5px;
}

#confirmar:hover{
    background-color: rgb(79, 221, 105);
}

.lotaje{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 350px;
    border: solid black 2px;
    border-radius: 15px;
    margin: 20px;
    width: 350px;
    background-color: antiquewhite;
}

#cuentaReal{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;;
}

#cuentaDarwinex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#Stop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: red;
}

.operaciones{
    display: flex;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

#compra{
    text-align: center;
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

#venta{
    text-align: center;
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

h4{
    margin-top: 45px;
}
